# Auto detect text files and perform LF normalization
*text=auto
*.text linguist-detectable=false
*.TTF linguist-detectable=false
*.toc linguist-detectable=false
*.text linguist-vendored=false
*.txt linguist-detectable=false
